# Database
DB_HOST=mysql
DB_USER=botuser
DB_PASS=sifre123
DB_NAME=instagram_bot

# Instagram API
IG_APP_ID=your_app_id
IG_APP_SECRET=your_app_secret
IG_ACCESS_TOKEN=your_access_token

# Verification Token
VERIFY_TOKEN=your_verify_token
