# Database
DB_HOST=mysql
DB_USER=botuser
DB_PASS=sifre123
DB_NAME=instagram_bot

# Instagram API
IG_APP_ID=2097405134038586
IG_APP_SECRET=c1d74ce48d55c03c3a702bf761205b8b
IG_ACCESS_TOKEN=IGAAdzlCZC25jpBZAE5oM3o4Q1NCbUFQSWwxUDNkUlpFNnhRMWZAtOXV5dmUxT1dZAMVFMN2c1MWUxTktVdy1ZAMEZAJVXdEMVNXVzBnd05rS3ItRjhRS0czN05RTXZAnclBkT0UzRXZARdU1QUm1ibzRrUE9vU2dQYlowYWhhTy1Sd19VQQZDZD

# Verification Token
VERIFY_TOKEN=test
