# FastAPI çalışması için gerekli paketler
fastapi
uvicorn[standard]

# Veritabanı bağlantısı
sqlalchemy
mysql-connector-python

# .env desteği
python-dotenv

# Pydantic, request/response modelleri için
pydantic
